<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="integratedAppChildSiteProviders" name="Integrated App Child Site Providers" schema="schema/integratedAppChildSiteProviders.exsd"/>
   
   <extension-point id="repositorySiteProviders" name="Repository Site Providers" schema="schema/repositorySiteProviders.exsd"/>

   <extension-point id="gitRepositoryChildProviders" name="Git Repository Child Providers" schema="schema/gitRepositoryChildProviders.exsd"/>
   
   <extension-point id="artifactReportActionProviders" name="Artifact Report Action Providers" schema="schema/artifactReportActionProviders.exsd"/>

   <extension
         point="com.collabnet.desktop.collabNetSiteProviders">
	       <site class="com.collabnet.ee.SourceForgeSiteProvider" id="com.collabnet.ee.SfeeSiteProvider" name="TeamForge"/>
   </extension>

   <extension point="com.collabnet.ee.integratedAppChildSiteProviders">
		<site class="com.collabnet.ee.integratedapps.IntegratedAppChildSiteProvider" id="com.collabnet.ee.integratedapps.IntegratedAppChildSiteProvider" name="Integrated App Child Site Provider"/>     
   </extension>
   
   <extension
         point="com.collabnet.desktop.treeListeners">
	<listener class="com.collabnet.ee.ArtifactDecorator" id="com.collabnet.ee.ArtifactDecorator" name="Non-Windows Artifact Strikethrough">
	</listener>  
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.collabnet.ee.preferences.TeamForgePreferenceInitializer"/>
   </extension>  
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%collabnet.category"
            id="com.collabnet.desktop">
      </category>
      <view
            name="%viewName.changeLog"
            icon="icons/change_log_view.gif"
            category="com.collabnet.desktop"
            class="com.collabnet.ee.views.AuditHistoryView"
            id="com.collabnet.ee.views.AuditHistoryView">
      </view>
      <view
            name="%viewName.relationshipTree"
            icon="icons/associations.gif"
            category="com.collabnet.desktop"
            class="com.collabnet.ee.views.AssociationsView"
            id="com.collabnet.ee.views.AssociationsView">
      </view>      
   </extension>   
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            icon="icons/ctf-16.png"
            id="com.collabnet.ee.preferenceTransfer"
            name="%transfer.name">
         <mapping
               scope="instance">
            <entry
                  node="com.collabnet.ee/sfeeSites">
            </entry>
         </mapping>
         <description>
            %transfer.description
         </description>
      </transfer>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.collabnet.ee.preferences.TeamForgePreferencePage"
            id="com.collabnet.ee.preferences.TeamForgePreferencePage"
            category="com.collabnet.desktop.preferences"
            name="TeamForge"/>
      <page
            class="com.collabnet.ee.preferences.TaskBoardPreferencePage"
            category="com.collabnet.ee.preferences.TeamForgePreferencePage"
            id="com.collabnet.ee.preferences.taskboard"
            name="Task Board"/>
      <page
            class="com.collabnet.ee.preferences.TaskBoardAutomationPreferencePage"
            category="com.collabnet.ee.preferences.taskboard"
            id="com.collabnet.ee.preferences.taskboard.automation"
            name="Automation"/>  
      <page
            class="com.collabnet.ee.preferences.PlanningBoardPreferencePage"
            category="com.collabnet.ee.preferences.TeamForgePreferencePage"
            id="com.collabnet.ee.preferences.planningboard"
            name="Planning Board"/>        
      <page
            class="com.collabnet.ee.preferences.KanbanBoardPreferencePage"
            category="com.collabnet.ee.preferences.TeamForgePreferencePage"
            id="com.collabnet.ee.preferences.kanbanboard"
            name="Kanban Board"/>
      <page
            class="com.collabnet.ee.preferences.KanbanBoardAutomationPreferencePage"
            category="com.collabnet.ee.preferences.kanbanboard"
            id="com.collabnet.ee.preferences.kanbanboard.automation"
            name="Automation"/>                                                                                    
   </extension>   
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.collabnet.ee.nonhostedteamforgesitecontribution"
            objectClass="com.collabnet.ee.NonHostedTeamForgeSite"> 
         <action
               label="%actionLabel.configureFavoriteProjects"
               class="com.collabnet.ee.actions.ConfigureFavoriteProjectsAction"
               icon="icons/favorite_projects.gif"
               menubarPath="miscGroup"
               id="com.collabnet.ee.actions.ConfigureFavoriteProjectsAction">
         </action> 
         <action
               class="com.collabnet.ee.actions.ShowFavoriteProjectsAction"
               icon="icons/favorite_projects.gif"
               id="com.collabnet.ee.ShowFavoriteProjectsAction"
               enablesFor="1"
               menubarPath="showProjectsMenu/group.a"
               style="toggle"
               label="%actionLabel.favoriteProjects">
         </action> 
         <action
               class="com.collabnet.ee.actions.ShowAllProjectsAction"
               icon="icons/all_projects.gif"
               id="com.collabnet.ee.ShowAllProjectsAction"
               enablesFor="1"
               menubarPath="showProjectsMenu/group.a"
               style="toggle"
               label="%actionLabel.allProjects">
         </action>          
         <action
               class="com.collabnet.ee.actions.ShowMyProjectsAction"
               icon="icons/my_projects.gif"
               id="com.collabnet.ee.ShowMyProjectsAction"
               enablesFor="1"
               menubarPath="showProjectsMenu/group.a"
               style="toggle"
               label="%actionLabel.myProjects">
         </action>                           
      </objectContribution>        
      <objectContribution
            id="com.collabnet.ee.sourceforgesitecontribution"
            objectClass="com.collabnet.ee.SourceForgeSite">
         <action
               label="%actionLabel.refreshTrackerIcons"
               class="com.collabnet.ee.actions.RefreshTrackerIconsAction"
               id="com.collabnet.ee.actions.RefreshTrackerIconsAction">
         </action>
         <action
               label="%actionLabel.configureFavoriteTools"
               class="com.collabnet.ee.actions.ConfigureFavoriteToolsAction"
               menubarPath="miscGroup"
               id="com.collabnet.ee.actions.ConfigureFavoriteToolsAction">
         </action>                            
         <action
               label="%actionLabel.changeSite"
               class="com.collabnet.ee.actions.ChangeSiteAction"
               icon="icons/ctf-16.png"
               id="com.collabnet.ee.actions.ChangeSiteAction">
         </action>
         <menu
         	   label="%menu.show"
         	   path="miscGroup"
         	   id="showProjectsMenu">
         </menu>
         <action
               class="com.collabnet.ee.actions.ShowAllToolsAction"
               id="com.collabnet.ee.ShowAllToolsAction"
               enablesFor="1"
               menubarPath="showProjectsMenu/group.b"
               style="toggle"
               label="%actionLabel.allTools">
         </action>       
         <action
               class="com.collabnet.ee.actions.ShowFavoriteToolsAction"
               id="com.collabnet.ee.ShowFavoriteToolsAction"
               enablesFor="1"
               menubarPath="showProjectsMenu/group.b"
               style="toggle"
               label="%actionLabel.siteTools">
         </action>                                                                         
         <action
               class="com.collabnet.ee.actions.NewTaskAction"
               id="com.collabnet.ee.NewTaskAction"
               enablesFor="1"
               icon="icons/task-new.gif"
               menubarPath="group.add/New"
               label="%actionLabel.newArtifactTask2">
         </action>
         <action
               class="com.collabnet.ee.actions.OpenWithWebBrowserAction"
               icon="icons/browser16.gif"
               id="com.collabnet.ee.OpenWithWebBrowserAction"
               label="%actionLabel.webBrowser"
               overrideActionId="com.collabnet.desktop.actions.OpenInBrowserAction">
         </action>
         <action
               class="com.collabnet.ee.actions.MonitoringAction"
               icon="icons/monitor.gif"
               id="com.collabnet.ee.MonitoringAction"
               menubarPath="miscGroup.b"
               label="%actionLabel.monitoring">
         </action>                                                     
      </objectContribution>         
      <objectContribution
            id="com.collabnet.ee.abstractsourceforgesitecontribution"
            objectClass="com.collabnet.ee.AbstractSourceForgeSite">
         <menu
               id="com.collabnet.ee.siteopenwithmenu"
               path="group.add"
               label="%menuLabel.openWith">
            <separator
                  name="opengroup">
            </separator>
         </menu>
         <action
               class="com.collabnet.ee.actions.OpenWithWebBrowserAction"
               icon="icons/browser16.gif"
               id="com.collabnet.ee.OpenWithWebBrowserAction"
               label="%actionLabel.webBrowser"
               menubarPath="com.collabnet.ee.siteopenwithmenu/opengroup">
         </action>
      </objectContribution>
      <objectContribution
            id="com.collabnet.ee.teamsitecontribution"
            objectClass="com.collabnet.ee.TeamSite"> 
         <action
               class="com.collabnet.ee.actions.ConfigureTeamHighlightingAction"
               id="com.collabnet.ee.actions.ConfigureTeamHighlightingAction"
               menubarPath="group.d"
               icon="icons/highlightTasks.png"
               label="%actionLabel.configureTeamHighlighting">
         </action>
         <action
               class="com.collabnet.ee.actions.DeleteTeamAction"
               id="com.collabnet.ee.actions.DeleteTeamAction"
               menubarPath="group.d"
               icon="icons/delete.gif"
               label="%actionLabel.deleteTeam">
         </action>
         <action
               class="com.collabnet.ee.actions.UpdateTeamAction"
               id="com.collabnet.ee.actions.UpdateTeamAction"
               menubarPath="group.d"
               label="%actionLabel.updateTeam">
         </action>
      </objectContribution>
      <objectContribution
            id="com.collabnet.ee.projectsitecontribution"
            objectClass="com.collabnet.ee.ProjectSitePre80"> 
         <action
               class="com.collabnet.ee.actions.ConfigureTeamsAction"
               id="com.collabnet.ee.actions.ConfigureTeamsAction"
               menubarPath="group.d"
               icon="icons/team16.png"
               label="%actionLabel.configureTeams">
         </action>
      </objectContribution>
      <objectContribution
            id="com.collabnet.ee.projectsitecontribution"
            objectClass="com.collabnet.ee.ProjectSite"> 
         <menu
         	   label="%menu.show"
         	   path="miscGroup"
         	   id="showToolsMenu">
         </menu> 
         <action
               class="com.collabnet.ee.actions.ShowAllToolsAction"
               id="com.collabnet.ee.ShowAllToolsAction"
               enablesFor="1"
               menubarPath="showToolsMenu/group.b"
               style="toggle"
               label="%actionLabel.allTools">
         </action> 
         <action
               class="com.collabnet.ee.actions.ShowTeamForgeToolsAction"
               id="com.collabnet.ee.ShowTeamForgeToolsAction"
               enablesFor="1"
               menubarPath="showToolsMenu/group.b"
               style="toggle"
               label="%actionLabel.teamForgeTools">
         </action>              
         <action
               class="com.collabnet.ee.actions.ShowSiteToolsAction"
               id="com.collabnet.ee.ShowSiteToolsAction"
               enablesFor="1"
               menubarPath="showToolsMenu/group.b"
               style="toggle"
               label="%actionLabel.siteTools">
         </action>
         <action
               class="com.collabnet.ee.actions.ShowFavoriteToolsAction"
               id="com.collabnet.ee.ShowFavoriteToolsAction"
               enablesFor="1"
               menubarPath="showToolsMenu/group.b"
               style="toggle"
               label="%actionLabel.favoriteTools">
         </action>                                                             
         <action
               label="%actionLabel.configureFavoriteTools"
               class="com.collabnet.ee.actions.ConfigureFavoriteToolsAction"
               menubarPath="miscGroup"
               id="com.collabnet.ee.actions.ConfigureFavoriteToolsAction">
         </action>
         <action
               class="com.collabnet.ee.actions.ConfigureKanbanBoardAction"
               id="com.collabnet.ee.actions.ConfigureKanbanBoardAction"
               menubarPath="group.d"
               icon="icons/kanban16.png"
               label="%actionLabel.configureKanbanBoard">
         </action>                                           
         <action
               class="com.collabnet.ee.actions.ConfigureTaskBoardAction"
               id="com.collabnet.ee.actions.ConfigureTaskBoardAction"
               menubarPath="group.d"
               icon="icons/taskboard_config.png"
               label="%actionLabel.configureTaskBoard">
         </action>
         <action
               class="com.collabnet.ee.actions.ConfigurePlanningBoardAction"
               id="com.collabnet.ee.actions.ConfigurePlanningBoardAction"
               menubarPath="group.d"
               icon="icons/planningboard_config.gif"
               label="Configure Planning Board...">
         </action>                                                            
      </objectContribution>     
      
      <objectContribution
            id="com.collabnet.ee.querycontainercontribution"
            objectClass="com.collabnet.ee.IQueryContainer">
         <action
               class="com.collabnet.ee.actions.NewTrackerQueryAction"
               id="com.collabnet.ee.NewTrackerQueryAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newTrackerQuery">
         </action>           
      </objectContribution>
      <objectContribution
            id="com.collabnet.ee.iquerysitecontribution"
            objectClass="com.collabnet.ee.IQuerySite">
         <action
               class="com.collabnet.ee.actions.ExportQueryDefinitionAction"
               id="com.collabnet.ee.ExportQueryDefinitionAction"
               menubarPath="group.b"
               icon="icons/queryexport.png"
               label="%actionLabel.exportQueryDefinition">
         </action>            
      </objectContribution>      
      <objectContribution
            id="com.collabnet.ee.trackerquerysitecontribution"
            objectClass="com.collabnet.ee.QuerySite">         
         <action
               class="com.collabnet.ee.actions.ExportTrackerQueryAction"
               id="com.collabnet.ee.ExportTrackerQueryAction"
               menubarPath="group.b"
               enablesFor="1"
               icon="icons/export.gif"
               label="%actionLabel.exportData">
         </action>
         <action
               class="com.collabnet.ee.actions.TrackerQueryArtifactReportAction"
               id="com.collabnet.ee.actions.TrackerQueryArtifactReportAction"
               menubarPath="group.x"
               enablesFor="1"
               icon="icons/barcharticon.gif"
               label="%actionLabel.artifactMetricsReport">
         </action>
      </objectContribution>
      <objectContribution
            id="com.collabnet.ee.myqueriessitecontribution"
            objectClass="com.collabnet.ee.MyQueriesSite">
         <action
               class="com.collabnet.ee.actions.ExportQueryDefinitionAction"
               id="com.collabnet.ee.ExportQueryDefinitionAction"
               menubarPath="group.b"
               icon="icons/queryexport.png"
               label="%actionLabel.exportQueryDefinition">
         </action>               
         <action
               class="com.collabnet.ee.actions.ImportQueryDefinitionAction"
               id="com.collabnet.ee.ImportQueryDefinitionAction"
               menubarPath="group.b"
               enablesFor="1"
               icon="icons/queryimport.png"
               label="%actionLabel.importQueryDefinition">
         </action>                       
      </objectContribution>
      
      <objectContribution
            id="com.collabnet.ee.projectqueriessitecontribution"
            objectClass="com.collabnet.ee.ProjectQueriesSite">
         <action
               class="com.collabnet.ee.actions.ExportQueryDefinitionAction"
               id="com.collabnet.ee.ExportQueryDefinitionAction"
               menubarPath="group.b"
               icon="icons/queryexport.png"
               label="%actionLabel.exportQueryDefinition">
         </action>                                    
      </objectContribution>              
                                        
      <objectContribution
            id="com.collabnet.ee.querysitecontribution"
            objectClass="com.collabnet.ee.UserQuerySite">
         <action
               class="com.collabnet.ee.actions.DeleteTrackerQueryAction"
               id="com.collabnet.ee.DeleteTrackerQueryAction"
               icon="icons/delete.gif"
               label="%actionLabel.deleteQuery">
         </action>
         <action
               class="com.collabnet.ee.actions.EditTrackerQueryAction"
               id="com.collabnet.ee.EditTrackerQueryAction"
               label="%actionLabel.editQuery">
         </action>
      </objectContribution> 

      <objectContribution
            id="com.collabnet.ee.associatablecontribution"
            objectClass="com.collabnet.ee.IAssociatable">
         <action
               class="com.collabnet.ee.actions.CreateAssociationAction"
               id="com.collabnet.ee.CreateAssociationAction"
               menubarPath="group.c"
               label="%actionLabel.createAssociation">
         </action>
         <action
               class="com.collabnet.ee.actions.AssociationsAction"
               enablesFor="1"
               icon="icons/associations.gif"
               id="com.collabnet.ee.actions.AssociationsAction"
               menubarPath="group.c"
               label="%actionLabel.showRelationshipTree">
         </action>
      </objectContribution> 
      
      <objectContribution
            id="com.collabnet.ee.dependencycontribution"
            objectClass="com.collabnet.ee.IArtifact">
         <action
               class="com.collabnet.ee.actions.CreateDependencyAction"
               id="com.collabnet.ee.CreateDependencyAction"
               menubarPath="group.d"
               label="%actionLabel.createDependency">
         </action>
      </objectContribution>  
      
      <objectContribution
            id="com.collabnet.ee.monitorablecontribution"
            objectClass="com.collabnet.ee.IMonitorable">
         <action
               class="com.collabnet.ee.actions.ShowMonitoringUsersAction"
               icon="icons/monitor.gif"
               id="com.collabnet.ee.ShowMonitoringUsersAction"
               menubarPath="group.m"
               label="%actionLabel.showUsersMonitoring">
         </action>
      </objectContribution> 
      
      <objectContribution
            id="com.collabnet.ee.ForumSite"
            objectClass="com.collabnet.ee.ForumSite">
         <action
               class="com.collabnet.ee.actions.NewTopicAction"
               icon="icons/post.gif"
               id="com.collabnet.ee.NewTopicAction"
               menubarPath="group.l"
               label="%actionLabel.newTopic">
         </action>
      </objectContribution>                                                           

      <objectContribution
            id="com.collabnet.ee.artifactsitecontribution"
            objectClass="com.collabnet.ee.ArtifactSite">
         <action
               class="com.collabnet.ee.actions.ExportTrackerQueryAction"
               id="com.collabnet.ee.ExportTrackerQueryAction"
               icon="icons/export.gif"
               label="%actionLabel.exportData">
         </action>      
         <action
               class="com.collabnet.ee.actions.AuditHistoryAction"
               id="com.collabnet.ee.AuditHistoryAction"
               enablesFor="1"
               icon="icons/audit_history.gif"
               label="%actionLabel.auditHistory">
         </action>
         <action
               class="com.collabnet.ee.actions.CreateLogMessageAction"
               id="com.collabnet.ee.CreateLogMessageAction"
               enablesFor="1"
               icon="icons/log16.gif"
               label="%actionLabel.createLogMessage">
         </action>  
         <action
               class="com.collabnet.ee.actions.DeleteArtifactAction"
               id="com.collabnet.ee.DeleteArtifactAction"
               icon="icons/delete.gif"
               menubarPath="group.d"
               label="%actionLabel.deleteArtifact">
         </action>                 
         <action
               class="com.collabnet.ee.actions.MassUpdateAction"
               id="com.collabnet.ee.MassUpdateAction"
               menubarPath="group.add"
               label="%actionLabel.massUpdate">
         </action>                              
         <action
               class="com.collabnet.ee.actions.OpenTaskEditorAction"
               id="com.collabnet.ee.OpenTaskEditorAction"
               enablesFor="1"
               menubarPath="com.collabnet.ee.siteopenwithmenu/opengroup"
               label="%actionLabel.editor">
         </action>
      </objectContribution>
      
      <objectContribution
            id="com.collabnet.ee.artifactdependencysitecontribution"
            objectClass="com.collabnet.ee.ArtifactDependencySite">
         <action
               class="com.collabnet.ee.actions.RemoveDependencyAction"
               id="com.collabnet.ee.RemoveDependencyAction"
               menubarPath="group.d"
               label="%actionLabel.removeDependency">
         </action>            
      </objectContribution>

      <objectContribution
            id="com.collabnet.ee.associationsitecontribution"
            objectClass="com.collabnet.ee.AssociationSite">
         <action
               class="com.collabnet.ee.actions.DeleteAssociationAction"
               id="com.collabnet.ee.DeleteAssociationAction"
               icon="icons/delete.gif"
               label="%actionLabel.deleteAssociation">
         </action>            
         <action
               class="com.collabnet.ee.actions.OpenTaskEditorAction"
               id="com.collabnet.ee.OpenTaskEditorAction"
               enablesFor="1"
               menubarPath="com.collabnet.ee.siteopenwithmenu/opengroup"
               label="%actionLabel.editor">
         </action>
      </objectContribution>       

      <objectContribution
            id="com.collabnet.ee.trackerssitecontribution"
            objectClass="com.collabnet.ee.TrackersSite">
         <action
               class="com.collabnet.ee.actions.ReorderTrackersAction"
               id="com.collabnet.ee.actions.ReorderTrackersAction"
               menubarPath="groupA"
               enablesFor="1"
               label="%actionLabel.reorderTrackers">
         </action>                     
         <action
               class="com.collabnet.ee.actions.NewTaskAction"
               id="com.collabnet.ee.NewTaskAction"
               enablesFor="1"
               icon="icons/task-new.gif"
               menubarPath="group.add/New"
               label="%actionLabel.newArtifact">
         </action>
      </objectContribution> 
      
      <objectContribution
            id="com.collabnet.ee.trackersitecontribution"
            objectClass="com.collabnet.ee.TrackerSite">
         <action
               class="com.collabnet.ee.actions.ExportQueryDefinitionAction"
               id="com.collabnet.ee.ExportQueryDefinitionAction"
               menubarPath="group.b"
               icon="icons/queryexport.png"
               label="%actionLabel.exportQueryDefinition">
         </action>                         
         <action
               class="com.collabnet.ee.actions.NewTaskAction"
               id="com.collabnet.ee.NewTaskAction"
               enablesFor="1"
               icon="icons/task-new.gif"
               menubarPath="group.add/New"
               label="%actionLabel.newArtifact">
         </action>
      </objectContribution>             

      <objectContribution
            id="com.collabnet.ee.documentfoldersitecontribution"
            objectClass="com.collabnet.ee.DocumentFolderSite">
         <action
               class="com.collabnet.ee.actions.ExportDocumentAction"
               enablesFor="1"
               menubarPath="group.c"
               id="com.collabnet.ee.ExportDocumentAction"
               label="%actionLabel.exportFolder">
         </action>                  
         <action
               class="com.collabnet.ee.actions.DeleteFolderAction"
               id="com.collabnet.ee.DeleteFolderAction"
               icon="icons/delete.gif"
               label="%actionLabel.deleteFolder">
         </action> 
         <action
               class="com.collabnet.ee.actions.NewDocumentFolderAction"
               id="com.collabnet.ee.NewDocumenFolderAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newDocumentFolder">
         </action>                         
         <action
               class="com.collabnet.ee.actions.NewDocumentAction"
               id="com.collabnet.ee.NewDocumentAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newDocument">
         </action>
      </objectContribution> 
      
      <objectContribution
            id="com.collabnet.ee.documentssitecontribution"
            objectClass="com.collabnet.ee.DocumentsSite">  
         <action
               class="com.collabnet.ee.actions.NewDocumentFolderAction"
               id="com.collabnet.ee.NewDocumenFolderAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newDocumentFolder">
         </action>                  
         <action
               class="com.collabnet.ee.actions.NewDocumentAction"
               id="com.collabnet.ee.NewDocumentAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newDocument">
         </action>
      </objectContribution> 
      
      <objectContribution
            id="com.collabnet.ee.documentfilesitecontribution"
            objectClass="com.collabnet.ee.DocumentFileSite">      
         <action
               class="com.collabnet.ee.actions.CreateDocumentReviewAction"
               enablesFor="1"
               menubarPath="group.c"
               id="com.collabnet.ee.CreateDocumentReviewAction"
               label="%actionLabel.createDocumentReview">
         </action> 
         <action
               class="com.collabnet.ee.actions.DeleteDocumentAction"
               id="com.collabnet.ee.DeleteDocumentAction"
               icon="icons/delete.gif"
               menubarPath="group.b"
               label="%actionLabel.deleteDocument">
         </action>           
         <action
               class="com.collabnet.ee.actions.UpdateDocumentAction"
               enablesFor="1"
               menubarPath="group.b"
               id="com.collabnet.ee.UpdateDocumentAction"
               label="%actionLabel.updateDocument">
         </action>                        
      </objectContribution> 
      
      <objectContribution
            id="com.collabnet.ee.documentversionsitecontribution"
            objectClass="com.collabnet.ee.DocumentVersionSite">
         <action
               class="com.collabnet.ee.actions.ExportDocumentAction"
               enablesFor="1"
               menubarPath="group.c"
               id="com.collabnet.ee.ExportDocumentAction"
               label="%actionLabel.exportDocument">
         </action>
         <action
               class="com.collabnet.ee.actions.MarkActiveAction"
               enablesFor="1"
               id="com.collabnet.ee.MarkActiveAction"
               label="%actionLabel.markActive">
         </action>                                      
         <action
               class="com.collabnet.ee.actions.OpenDocumentAction"
               enablesFor="1"
               id="com.collabnet.ee.OpenDocumentAction"
               label="%actionLabel.openDocument">
         </action>             
      </objectContribution>       
      
      <objectContribution
            id="com.collabnet.ee.querydefinitiondocumentfilesitecontribution"
            objectClass="com.collabnet.ee.QueryDefinitionDocumentFileSite">
         <action
               class="com.collabnet.ee.actions.ImportQueryDefinitionAction"
               menubarPath="group.c"
               id="com.collabnet.ee.actions.ImportQueryDefinitionAction"
               icon="icons/queryimport.png"
               label="%actionLabel.importQueryDefinition">
         </action>                                                    
      </objectContribution>
      
      <objectContribution
            id="com.collabnet.ee.querydefinitiondocumentversionsitecontribution"
            objectClass="com.collabnet.ee.QueryDefinitionDocumentVersionSite">
         <action
               class="com.collabnet.ee.actions.ImportQueryDefinitionAction"
               menubarPath="group.c"
               id="com.collabnet.ee.actions.ImportQueryDefinitionAction"
               icon="icons/queryimport.png"
               label="%actionLabel.importQueryDefinition">
         </action>                                                    
      </objectContribution>                            
      <objectContribution
            id="com.collabnet.ee.planningfoldercontribution"
            objectClass="com.collabnet.ee.IPlanningFolder">
         <action
               class="com.collabnet.ee.actions.ReorderPlanningFoldersAction"
               id="com.collabnet.ee.actions.ReorderPlanningFoldersAction"
               menubarPath="groupA"
               enablesFor="1"
               label="%actionLabel.reorderSubfolders">
         </action>                                                                
         <action
               class="com.collabnet.ee.actions.NewPlanningFolderAction"
               id="com.collabnet.ee.NewPlanningFolderAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newPlanningFolder">
         </action>
        <action
               class="com.collabnet.ee.actions.KanbanBoardAction"
               id="com.collabnet.ee.actions.KanbanBoardAction"
               menubarPath="com.collabnet.ee.siteopenwithmenu/opengroup"
               icon="icons/kanban16.png"
               label="Kanban Board">
         </action>                  
         <action
               class="com.collabnet.ee.actions.TaskBoardAction"
               id="com.collabnet.ee.actions.TaskBoardAction"
               menubarPath="com.collabnet.ee.siteopenwithmenu/opengroup"
               icon="icons/taskboard.gif"
               label="Task Board">
         </action> 
         <action
               class="com.collabnet.ee.actions.PlanningBoardAction"
               id="com.collabnet.ee.actions.PlanningBoardAction"
               menubarPath="com.collabnet.ee.siteopenwithmenu/opengroup"
               icon="icons/planningboard.gif"
               label="Planning Board">
         </action>                                                                                                 
      </objectContribution>
      
      <objectContribution
            id="com.collabnet.ee.teamscontribution"
            objectClass="com.collabnet.ee.TeamsSite">
         <menu
             label="%menu.show"
             path="miscGroup"
             id="showTeamsMenu">
         </menu>
         <action
               label="%actionLabel.configureFavoriteTeams"
               class="com.collabnet.ee.actions.ConfigureFavoriteTeamsAction"
               icon="icons/favorite_teams.gif"
               menubarPath="miscGroup"
               id="com.collabnet.ee.actions.ConfigureFavoriteTeamsAction">
         </action> 
         <action
               class="com.collabnet.ee.actions.ShowFavoriteTeamsAction"
               icon="icons/favorite_teams.gif"
               id="com.collabnet.ee.ShowFavoriteTeamsAction"
               enablesFor="1"
               menubarPath="showTeamsMenu/group.a"
               style="toggle"
               label="%actionLabel.favoriteTeams">
         </action> 
         <action
               class="com.collabnet.ee.actions.ShowAllTeamsAction"
               icon="icons/all_teams.gif"
               id="com.collabnet.ee.ShowAllTeamsAction"
               enablesFor="1"
               menubarPath="showTeamsMenu/group.a"
               style="toggle"
               label="%actionLabel.allTeams">
         </action>          
         <action
               class="com.collabnet.ee.actions.ShowMyTeamsAction"
               icon="icons/my_teams.gif"
               id="com.collabnet.ee.ShowMyTeamsAction"
               enablesFor="1"
               menubarPath="showTeamsMenu/group.a"
               style="toggle"
               label="%actionLabel.myTeams">
         </action>
      </objectContribution>

      <objectContribution
            id="com.collabnet.ee.teamcontribution"
            objectClass="com.collabnet.ee.ITeam">
         <action
               class="com.collabnet.ee.actions.NewTeamAction"
               id="com.collabnet.ee.NewTeamAction"
               enablesFor="1"
               menubarPath="group.add/New"
               icon="icons/team16.png"
               label="Team...">
         </action>
      </objectContribution>

     <objectContribution
            id="com.collabnet.ee.planningfolderscontribution"
            objectClass="com.collabnet.ee.PlanningFoldersSite">
         <action
               class="com.collabnet.ee.actions.ShowHiddenAction"
               id="com.collabnet.ee.actions.ShowHiddenAction"
               menubarPath="groupA"
               enablesFor="1"
               label="%actionLabel.showInactive">
         </action>                                                                               
      </objectContribution>      
      <objectContribution
            id="com.collabnet.ee.planningfoldersitecontribution"
            objectClass="com.collabnet.ee.PlanningFolderSite">
         <menu
               id="com.collabnet.ee.planningFolderChartMenu"
               label="%menuLabel.charts">
            <separator
                  name="chartGroup">
            </separator>
         </menu>                     
         <action
               class="com.collabnet.ee.actions.DeletePlanningFolderAction"
               id="com.collabnet.ee.actions.DeletePlanningFolderAction"
               icon="icons/delete.gif"
               menubarPath="groupA"
               label="%actionLabel.deletePlanningFolder">
         </action>                 
         <action
               class="com.collabnet.ee.actions.UpdatePlanningFolderAction"
               id="com.collabnet.ee.actions.UpdatePlanningFolderAction"
               menubarPath="groupA"
               enablesFor="1"
               label="%actionLabel.updatePlanningFolder">
         </action>
         <action
               class="com.collabnet.ee.actions.PlanningFolderSummaryAction"
               id="com.collabnet.ee.actions.PlanningFolderSummaryAction"
               menubarPath="groupB"
               enablesFor="1"
               label="%actionLabel.planningFolderSummary">
         </action> 
         <action
               class="com.collabnet.ee.actions.PlanningFolderCapacityChartAction"
               id="com.collabnet.ee.actions.PlanningFolderCapacityChartAction"
               menubarPath="com.collabnet.ee.planningFolderChartMenu/chartGroup"
               label="%actionLabel.planningFolderCapacity">
         </action>                   
         <action
               class="com.collabnet.ee.actions.PlanningFolderOpenVsClosedChartAction"
               id="com.collabnet.ee.actions.PlanningFolderOpenVsClosedChartAction"
               menubarPath="com.collabnet.ee.planningFolderChartMenu/chartGroup"
               label="%actionLabel.planningFolderOpenVsClosed">
         </action>                
         <action
               class="com.collabnet.ee.actions.PlanningFolderOpenByPriorityChartAction"
               id="com.collabnet.ee.actions.PlanningFolderOpenByPriorityChartAction"
               menubarPath="com.collabnet.ee.planningFolderChartMenu/chartGroup"
               label="%actionLabel.planningFolderOpenByPriority">
         </action>                
         <action
               class="com.collabnet.ee.actions.PlanningFolderBurndownChartAction"
               id="com.collabnet.ee.actions.PlanningFolderBurndownChartAction"
               menubarPath="com.collabnet.ee.planningFolderChartMenu/chartGroup"
               label="%actionLabel.planningFolderBurndown">
         </action>                                                                                                                       
      </objectContribution>   
      
      <objectContribution
            id="com.collabnet.ee.filereleasessitecontribution"
            objectClass="com.collabnet.ee.FileReleasesSite">
         <action
               class="com.collabnet.ee.actions.NewFrsPackageAction"
               id="com.collabnet.ee.NewFrsPackageAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newFrsPackage">
         </action>
         <action
               class="com.collabnet.ee.actions.DeleteFrsPackageAction"
               enablesFor="1"
               id="com.collabnet.ee.DeleteFrsPackageAction"
               icon="icons/delete.gif"
               label="%actionLabel.deleteFrsPackage">
         </action>                                          
      </objectContribution>   
      
      <objectContribution
            id="com.collabnet.ee.frspackagesitecontribution"
            objectClass="com.collabnet.ee.FrsPackageSite">
         <action
               class="com.collabnet.ee.actions.NewFrsReleaseAction"
               id="com.collabnet.ee.NewFrsReleaseAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newFrsRelease">
         </action>            
         <action
               class="com.collabnet.ee.actions.DeleteFrsPackageAction"
               id="com.collabnet.ee.DeleteFrsPackageAction"
               icon="icons/delete.gif"
               label="%actionLabel.deleteFrsPackage">
         </action>
         <action
               class="com.collabnet.ee.actions.UpdateFrsPackageAction"
               id="com.collabnet.ee.UpdateFrsPackageAction"
               enablesFor="1"
               label="%actionLabel.updateFrsPackage">
         </action>                                                         
      </objectContribution> 
      
      <objectContribution
            id="com.collabnet.ee.frsreleasesitecontribution"
            objectClass="com.collabnet.ee.FrsReleaseSite">       
         <action
               class="com.collabnet.ee.actions.DeleteFrsReleaseAction"
               id="com.collabnet.ee.DeleteFrsReleaseAction"
               icon="icons/delete.gif"
               label="%actionLabel.deleteFrsRelease">
         </action>
         <action
               class="com.collabnet.ee.actions.UpdateFrsReleaseAction"
               id="com.collabnet.ee.UpdateFrsReleaseAction"
               enablesFor="1"
               label="%actionLabel.updateFrsRelease">
         </action>   
         <action
               class="com.collabnet.ee.actions.NewFrsFileAction"
               id="com.collabnet.ee.NewFrsFileAction"
               enablesFor="1"
               menubarPath="group.add/New"
               label="%actionLabel.newFrsFile">
         </action>                                                                                
      </objectContribution>   
      
      <objectContribution
            id="com.collabnet.ee.frsfilesitecontribution"
            objectClass="com.collabnet.ee.FrsFileSite">
         <action
               class="com.collabnet.ee.actions.ExportFrsFileAction"
               enablesFor="1"
               id="com.collabnet.ee.ExportFrsFileAction"
               label="%actionLabel.exportFrsFile">
         </action>                            
         <action
               class="com.collabnet.ee.actions.DeleteFrsFileAction"
               id="com.collabnet.ee.DeleteFrsFileAction"
               icon="icons/delete.gif"
               label="%actionLabel.deleteFrsFile">
         </action> 
         <action
               class="com.collabnet.ee.actions.UpdateFrsFileAction"
               id="com.collabnet.ee.UpdateFrsFileAction"
               enablesFor="1"
               label="%actionLabel.updateFrsFile">
         </action>                                                                                
      </objectContribution>

   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Planning Board Editor"
            default="false"
            icon="icons/planningboard.gif"  
            extensions="cpb"
            class="com.collabnet.ee.editor.PlanningBoardEditor"
            contributorClass="com.collabnet.ee.editor.PlanningBoardActionBarContributor"
            id="com.collabnet.ee.editor.PlanningBoardEditor">
      </editor>            
      <editor
            name="Task Board Editor"
            default="false"
            icon="icons/taskboard.gif"  
            extensions="ctb"
            class="com.collabnet.ee.editor.TaskBoardEditor"
            contributorClass="com.collabnet.ee.editor.TaskBoardActionBarContributor"
            id="com.collabnet.ee.editor.TaskBoardEditor">
      </editor>
      <editor
            name="Kanban Board Editor"
            default="false"
            icon="icons/kanban16.png"  
            extensions="ckb"
            class="com.collabnet.ee.editor.KanbanBoardEditor"
            contributorClass="com.collabnet.ee.editor.KanbanBoardActionBarContributor"
            id="com.collabnet.ee.editor.KanbanBoardEditor">
      </editor>                                            
   </extension>
   
	<extension 
        point = "org.eclipse.ui.elementFactories"> 
        <factory 
           id ="com.collabnet.ee.editor.PlanningFolderEditorInputElementFactory" 
           class="com.collabnet.ee.editor.PlanningFolderEditorInputElementFactory"> 
        </factory> 
    </extension>    

</plugin>
